<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OffBrand.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>minlog.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>pfinder.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BC369341176D34AA00EBE188</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC7978E4176E12280073143E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCEDDA18177024B200040AE4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCEDDA3217702BBF00040AE4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
